HappyHour.Core/Service References/WS_HappyHour/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WS_HappyHour" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WS_HappyHour" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Loguin">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Loguin" nillable="true" type="tns:Loguin" />
  <xs:complexType name="ArrayOfOndeBeber">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OndeBeber" nillable="true" type="tns:OndeBeber" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOndeBeber" nillable="true" type="tns:ArrayOfOndeBeber" />
  <xs:complexType name="OndeBeber">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="OndeBeber" nillable="true" type="tns:OndeBeber" />
</xs:schema>