HappyHour.Core/Service References/WS_HappyHour/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://happyhourservice.cloudapp.net/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://happyhourservice.cloudapp.net/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://happyhourservice.cloudapp.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_HappyHour" />
      <xsd:import schemaLocation="http://happyhourservice.cloudapp.net/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_CadastrarUsr_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarUsr" />
  </wsdl:message>
  <wsdl:message name="IService1_CadastrarUsr_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarUsrResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SincronizarContatos_InputMessage">
    <wsdl:part name="parameters" element="tns:SincronizarContatos" />
  </wsdl:message>
  <wsdl:message name="IService1_SincronizarContatos_OutputMessage">
    <wsdl:part name="parameters" element="tns:SincronizarContatosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RegistrarOndeBeber_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarOndeBeber" />
  </wsdl:message>
  <wsdl:message name="IService1_RegistrarOndeBeber_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarOndeBeberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RecuperarAmigos_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarAmigos" />
  </wsdl:message>
  <wsdl:message name="IService1_RecuperarAmigos_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarAmigosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RecuperarOndeBeber_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarOndeBeber" />
  </wsdl:message>
  <wsdl:message name="IService1_RecuperarOndeBeber_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarOndeBeberResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="CadastrarUsr">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CadastrarUsr" message="tns:IService1_CadastrarUsr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CadastrarUsrResponse" message="tns:IService1_CadastrarUsr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SincronizarContatos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SincronizarContatos" message="tns:IService1_SincronizarContatos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SincronizarContatosResponse" message="tns:IService1_SincronizarContatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarOndeBeber">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegistrarOndeBeber" message="tns:IService1_RegistrarOndeBeber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegistrarOndeBeberResponse" message="tns:IService1_RegistrarOndeBeber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarAmigos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RecuperarAmigos" message="tns:IService1_RecuperarAmigos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RecuperarAmigosResponse" message="tns:IService1_RecuperarAmigos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarOndeBeber">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RecuperarOndeBeber" message="tns:IService1_RecuperarOndeBeber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RecuperarOndeBeberResponse" message="tns:IService1_RecuperarOndeBeber_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CadastrarUsr">
      <soap:operation soapAction="http://tempuri.org/IService1/CadastrarUsr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SincronizarContatos">
      <soap:operation soapAction="http://tempuri.org/IService1/SincronizarContatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarOndeBeber">
      <soap:operation soapAction="http://tempuri.org/IService1/RegistrarOndeBeber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarAmigos">
      <soap:operation soapAction="http://tempuri.org/IService1/RecuperarAmigos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarOndeBeber">
      <soap:operation soapAction="http://tempuri.org/IService1/RecuperarOndeBeber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://happyhourservice.cloudapp.net/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>